@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  body {
    font-family: 'Poppins', sans-serif;
  }
.navbar-nav .nav-link:hover {
    color: #F7F6BB !important;
}
.navbar-logo {
    max-height: 60px; 
    width: auto; 
}
.navbar {
    background-color: #7bc03a !important;
    font-weight: 400;
}
.navbar-brand-text {
    color: #12372A ;   
    font-weight: bolder;   
}
.navbar-brand-text:hover {
    color: #F7F6BB ;   
    font-weight: bolder;   
}
.navbar ul li{
    display: inline-block;
    padding: 8px 12px;
}
.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F7F6BB;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

  