@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  
body {
    font-family: 'Poppins', sans-serif;
}

.menu{ 
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-right: 2%;
    padding-left: 2%;

}
.menu h1{
  color: #7bc03a;
}

.menu h5{
  color: #87A922;
}

.menu a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.menu a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.hotbrew{ 
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-right: 2%;
  padding-left: 2%;
}
.hotbrew h1{
  color: #7bc03a;
}

.hotbrew h5{
  color: #87A922;
}

.hotbrew a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.hotbrew a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.fruittea{ 
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-right: 2%;
  padding-left: 2%;
}
.fruittea h1{
  color: #7bc03a;
}

.fruittea h5{
  color: #87A922;
}

.fruittea a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.fruittea a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.icedbrew{ 
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-right: 2%;
  padding-left: 2%;
}
.icedbrew h1{
  color: #7bc03a;
}

.icedbrew h5{
  color: #87A922;
}

.icedbrew a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.icedbrew a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.frappy{ 
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-right: 2%;
  padding-left: 2%;
}
.frappy h1{
  color: #7bc03a;
}

.frappy h5{
  color: #87A922;
}

.frappy a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.frappy a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.creamyfruittea{ 
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-right: 2%;
  padding-left: 2%;
}
.creamyfruittea h1{
  color: #7bc03a;
}

.creamyfruittea h5{
  color: #87A922;
}

.creamyfruittea a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.creamyfruittea a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.Adds{ 
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}
.Adds h1{
  color: #7bc03a;
}

.Adds h5{
  color: #87A922;
}

.Adds a{
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.Adds a:hover{
  border: 1px solid #F7F6BB;
  background: #114232;
  transition: 1s;
}
.Navi{
  padding-left: 2%;
  padding-top: 2%;
  width: 100%;
}
.Navi form{
  padding-left: 1%;
}
.Navi input{
  width: 50px;
}
.Navi ul{
  margin-left: 5%;
}
.Navi a{
  display: inline-block;
  text-decoration: none;
  color: #114232;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #7bc03a;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 5px;
}
.Navi a:hover{
  border: 1px solid #F7F6BB;
  color: white;
  background: #114232;
  transition: 1s;
}
h1 {
  padding-left: 2%;
  padding-top: 2%;
}
.Navi form {
  display: flex;
  align-items: center; 
}
.Navi form input{
  width: 500px;
}
.Navi form button{
  background-color: #7bc03a;
  color: #114232;
  border-color: #fff;
  font-size: 14px;
  width: 100px;
  height: 45px;
  border-radius: 5px;
}
.menu .receipt
{
  height: 300px;
  margin-left: 20%;
  border: 1px solid #5a756c;
  border-radius: 5px;
}

.menu h6{
  color: #87A922;
}
.menu .column-1
{
  padding-left: 4%;
}